.vscode
.idea
architecture/*.crswap
vendor/*
!/vendor/theframework
.env.prod
.env.test
.env.dev
/config/*.prod.*
/config/*.test.*
/config/*.dev.*
/db/*.prod.*
/db/*.test.*
/db/*.dev.*
cache/*
!cache/.gitkeep
src/xxx-module/*
!src/xxx-module/files
./vendor.zip
