.vscode
.idea
architecture/*.crswap
vendor/*
!/vendor/theframework
!/vendor/phpqrcode
.env.local
.env.prod
.env.test
.env.dev
#.env
/config/*.prod.*
/config/*.test.*
/config/*.dev.*
/db/*.prod.*
/db/*.test.*
/db/*.dev.*
cache/*
!cache/.gitkeep
src/xxx-module/*
!src/xxx-module/files
./vendor.zip
/public/images/qr
