.main-grid {
  background-image: url("../images/error-background.png");
}

.section-scrums ul li a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

.section-grid .div-texts {
  background-color: var(--color-red-error);
  color: var(--color-white);
  width: 80%;
}

@media (max-width: 1000px) {
  .section-grid .div-texts {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .section-grid .div-texts {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .section-grid .div-texts {
    width: 99%;
  }
}