.footer-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--color-clear-black);
    align-items: center;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 2;
}

.footer-flex .item {
    padding: 5px;
}

.footer-flex .item-logo {
    padding-left: 1rem;
}

.footer-flex .item-logo img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    padding-right: 3px;
    max-height: 25px;
}

.footer-flex .item-logo a {
    text-decoration: none;
}

.footer-flex .ul-links-flex {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
}

.footer-flex .ul-links-flex li {
    text-align: center;
}

.footer-flex .ul-social-flex {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    padding-right: 1rem;
}

.footer-flex .ul-social-flex li {
    text-align: center;
}

@media (max-width: 800px) {
    .footer-flex {
        flex-direction: column-reverse;
    }
    .footer-flex .item {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer-flex .item-social {
        padding-top: 10px;
    }
}