.section-scrumbs {
    grid-area: area-scrumbs;
    z-index: 1;
}

.section-scrumbs ul {
    display: flex;
    list-style: none;
}

.section-scrumbs ul li+li:before {
    padding: 8px;
    color: var(--color-clear-black);
    content: "/\00a0";
}

.section-scrumbs ul li a {
    color: var(--color-clear-black);
    font-weight: bold;
    text-decoration: none;
}

.section-scrumbs ul li a:hover {
    color: var(--color-yellow);
    text-decoration: underline;
}
