.section-scrums {
    grid-area: area-scrums;
    z-index: 1;
}

.section-scrums ul {
    display: flex;
    list-style: none;
}

.section-scrums ul li+li:before {
    padding: 8px;
    color: var(--color-clear-black);
    content: "/\00a0";
}

.section-scrums ul li a {
    color: var(--color-clear-black);
    font-weight: bold;
    text-decoration: none;
}

.section-scrums ul li a:hover {
    color: var(--color-yellow);
    text-decoration: underline;
}

@media (max-width: 365px) {
    .section-scrums ul li a {
        color: var(--color-white);
        font-weight: bold;
        text-decoration: none;
    }
}