.main-grid {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
    "area-nav"
    "area-scrumbs"
    "area-textbox";
    min-height: 100vh;
    background-image: url("../images/terms-background.png");
    background-size:     cover;
    background-position: top right;
    background-repeat:   no-repeat;
}

@media (max-width: 800px) {
    .main-grid {
        background-position: top center;
    }
}
